body{
margin:0;
font-family:Arial;
background:linear-gradient(#ff758c,#ff7eb3);
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.envelope {
  width:320px;
  height:220px;
  background:#e63946;
  position:relative;
  border-radius:10px;
  cursor:pointer;
  overflow:hidden; /* ← esto es clave */
}

.envelope:before{
content:"";
position:absolute;
top:0;
left:0;
width:0;
height:0;
border-left:160px solid transparent;
border-right:160px solid transparent;
border-top:110px solid #ffb3c1;
}

.card {
  position:absolute;
  background:white;
  width:280px;
  left:20px;
  bottom:-100%; /* completamente fuera del sobre */
  padding:20px;
  border-radius:15px;
  text-align:center;
  transition: bottom .8s ease;
  box-shadow:0 10px 20px rgba(0,0,0,.3);
}

.open .card {
  bottom: 150px;
}

h2{color:#e63946;}

button{
padding:10px 15px;
border:none;
border-radius:10px;
margin:8px;
font-size:16px;
background:#e63946;
color:white;
}

#noBtn{
position:absolute;
}

.heart{
position:fixed;
top:-10px;
font-size:20px;
animation:fall linear infinite;
}

@keyframes fall{
to{transform:translateY(100vh);}
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all .6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
