body{
margin:0;
font-family:Arial;
background:linear-gradient(#ff758c,#ff7eb3);
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.envelope {
  position:absolute;
  width:100%;
  height:100%;
  background:#e63946;
  border-radius:10px;
  z-index:2;
}

.envelope:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  border-left:160px solid transparent;
  border-right:160px solid transparent;
  border-top:110px solid #ffb3c1;
  z-index:3;
}


.card {
  position:absolute;
  width:280px;
  left:20px;
  top:20px;
  padding:20px;
  border-radius:15px;
  background:white;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,.3);

  opacity:0;
  transform:translateY(40px);
  transition:all .8s ease;
  z-index:1;
}

.open .card {
  opacity:1;
  transform:translateY(-150px);
  z-index:5;
}


h2{color:#e63946;}

button{
padding:10px 15px;
border:none;
border-radius:10px;
margin:8px;
font-size:16px;
background:#e63946;
color:white;
}

#noBtn{
position:absolute;
}

.heart{
position:fixed;
top:-10px;
font-size:20px;
animation:fall linear infinite;
}

@keyframes fall{
to{transform:translateY(100vh);}
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all .6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.container {
  position: relative;
  width: 320px;
  height: 220px;
  cursor: pointer;
}
